Chatbot NF Academy (1).json
{
  "name": "Chatbot NF Academy",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -512,
        -208
      ],
      "id": "a6b0d702-0e43-4159-8816-385cbda49afc",
      "name": "When chat message received",
      "webhookId": "98cae855-c5b6-4229-88bf-22a9da6a03ba"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -368,
        -16
      ],
      "id": "e34ea76d-81e6-44de-a61c-1e471556aa80",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "TgsjcrtKI986BETL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -224,
        32
      ],
      "id": "5ff9a664-69b0-4526-a823-9073897a6604",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTool",
      "typeVersion": 1.2,
      "position": [
        -32,
        -48
      ],
      "id": "312f7f97-4036-40f6-8031-d37938c00813",
      "name": "Chat Output",
      "webhookId": "3cee6897-d015-4ec5-bd63-a6922b671a56"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu adalah asisten NF Academy. Jawab pertanyaan produk dengan jujur, dan arahkan ke situs resmi jika informasi tidak tersedia.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -304,
        -208
      ],
      "id": "7ad9c764-15fb-4aae-9c3b-238240feac19",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "={{$json.message}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        48,
        -174.08335049947107
      ],
      "id": "b86e2d9e-c3a5-4c43-a78e-daca160b9de2",
      "name": "Chat",
      "webhookId": "9b3fe3ed-1b1f-4967-8749-d279205883ac"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Output": {
      "ai_tool": [
        []
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "050f7ebe-a711-4145-97f9-8ba48891d08c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fe7c18cafdf4b147956eba58a5f57afb13943a9c216970b3afb3443d9165c11"
  },
  "id": "omUupjyFaapX5wDl",
  "tags": []
}