My workflow 10 (4).json
{
  "name": "My workflow 10",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        112
      ],
      "id": "703ee5f7-8a5e-4761-a9d2-08d4f8985a1e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "19LMUcHU7Sj4a7woGVharOc99WuAlDRk7",
          "mode": "list",
          "cachedResultName": "Panduan Penulisan Ilmiah Tugas Akhir Skripsi.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/19LMUcHU7Sj4a7woGVharOc99WuAlDRk7/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -208,
        112
      ],
      "id": "7208bcf0-0b8f-4bba-a643-053565829d41",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QEvXOCDNiaxleAn8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        16,
        0
      ],
      "id": "41d7cdda-389c-40af-ad98-28befc5494dd",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "cLSUq1qld1PcdjFy",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        816,
        512
      ],
      "id": "8c2bc0c4-dac7-4fe0-8a6c-7d8263d3759f",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Kamu asisten yang membantu penulisan ilmiah untuk tugas akhir (TA). Gunakan tool Supabase Vector Store untuk memberikan bantuan.\nJika informasi tidak tersedia dalam database yang disediakan, jangan menjawab dengan mengarang sendiri, tetapi berikan jawaban “Maaf, saya belum dapat menjawab karena saya\ntemukan dalam informasi yang tersedia.” "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        544
      ],
      "id": "3a0e9062-879e-46b0-973f-ec72c6180b50",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil tool Supabase vector ini untuk mendapatkan informasi panduan menulis bab 1 tulisan ilmiah.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        320,
        512
      ],
      "id": "86fbf0db-2a91-47e8-98f0-152afc0e7cc9",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "cLSUq1qld1PcdjFy",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        768
      ],
      "id": "96250b8b-46e9-4402-afe3-fe075a8be062",
      "name": "Postgres Chat Memory",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "pCRD3lAkLTeymNQY",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -432,
        544
      ],
      "id": "943148e3-51ba-49c7-9bcc-960a6103991e",
      "name": "When chat message received",
      "webhookId": "0c48b3f6-cdfd-418c-94fd-161b96b7bcda"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -208,
        768
      ],
      "id": "303cde4f-3b36-4848-89c4-59b52b7b12c9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0aMrdLbUMBL25Uyt",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        336
      ],
      "id": "114004b3-ce9d-4979-ac38-8a7dcde2ce4c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "0aMrdLbUMBL25Uyt",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        272,
        288
      ],
      "id": "ba06ee01-0160-465d-aac0-75f1d3a8323b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        336,
        144
      ],
      "id": "647e4366-ea9d-413c-8cfb-2bf365ac8ada",
      "name": "Default Data Loader1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        []
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "558e8a4c-79df-49bf-8700-0aac41442bb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fe7c18cafdf4b147956eba58a5f57afb13943a9c216970b3afb3443d9165c11"
  },
  "id": "UrybHaTq6Y3D5jgT",
  "tags": []
}